.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    margin-bottom: 10px;

}
.logo{
    width: 210px;
    height: 68px;
    padding: 1rem;
}
@media screen and (max-width: 768px) {
    .header{
        padding: 0rem;
    }
    .logo {
       width: 38px;
       height: 70px;
       padding: 0px;
    
    }
    .logo img {
        width: 100px;
        padding: 16px;
    }
}