.collapseAboutContainer{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;  
}




@media screen and (max-width: 768px){
    main{
        padding: 20px 19px 0 19px;
    }
.collapseAboutContainer{
        width: 100%;
        gap: 19px;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .collapseAboutContainer {
        width: 900px;
    }
}
@media screen and (min-width : 993px){
    .collapseAboutContainer{
        width: 1023px;
        padding: 40px 0px 0px 0px;
    }
}