.appartment {
    width: 380px;
    height: 380px;
   display: grid;
   background: linear-gradient(180deg,hsla(0,0%,100%,0),rgba(0,0,0,.7));
   border-radius: 10px;
    
}
.appartment img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.appartment_subtitle {
    font-size: 18px;
    width: 50%;
    margin-inline-start: 0.2rem;
    margin-block-end: 0.2rem;
    color: black;
   
    
}
@media screen and (max-width: 768px) {
    .appartment a {
        width: 380px;
        height: 380px; 
    }
    .appartment img {
        position: relative;
       

    }
   
   
}