.Appartment_container {
    background-color: #f6f6f6;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0px;
    justify-content: space-around;
    overflow: scroll;
    margin-top: 43px;
   
   
}
@media screen and (max-width: 768px) {
    .Appartment_container{
       justify-content: center;
       background-color: #ffff;
       overflow: hidden;
       padding-bottom: 30px;
       
       
    }
}