.Appartment_container {
    background-color: #f6f6f6;
    width: 95%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    padding: 0px;
    justify-content: space-around;
    overflow: scroll;
    margin-top: 43px;
    padding: 22px;
   
   
}
@media screen and (max-width: 768px) {
    .Appartment_container{
       justify-content: center;
       background-color: #ffff;
       overflow: hidden;
       padding: 15px 2px;
       align-items: center;
       margin: auto;
      
       
       
    }
}