.collapse {
    
    margin-bottom: 10px;
    width: 100%;
   
}

.collapse_title {
    height: 47px;
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    border-radius: 10px;
}
 .collapse_title p {
        font-size: 18px;
        height: 34px;
        width: 97px;
        margin: 12px 0 0 8px;      
    
} 

.collapse_content {
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 1px 3px 2px 2px;
    margin-bottom: 10px;
    
}

.collapse_content-text {
    color: #FF6060;
    margin-left: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 0; /* Ajout de la propriété max-height pour l'animation */
    overflow: hidden;
    opacity: 0; /* Ajout de l'opacité initiale à 0 */
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.collapse_content-text.active {
    max-height: 1000px;
    opacity: 1; /* Ajustez la valeur en fonction de la hauteur maximale attendue */
}
.collapse_icon {
    width: 24px;
    height: 13.71px;
    transition: all 0.5s;
    margin: 12px 12px 0 0;
  }
  
.collapse_icon.active {
    transform: rotate(180deg);
    width: 24px;
    height: 13px;
    margin-top: 14px;
}
@media (max-width: 768px){
    .collapse_title{
        border-radius: 5px;
        
    }
}